extends layout

block content
    .container
        .row
            .col-md-3
            .col-md-6.text-center(style="margin-top:100px")
                h2 Collection of #{username}
                - var i = 0
                    while resultList.length > i
                        .pokemon
                            img(src= "http://www.pokestadium.com/sprites/xy/" + resultList[i].toLowerCase() + ".gif")
                            h5= resultList[i]
                            button.choose(onclick="changeColor(this)" id=resultList[i].toLowerCase()) Choose
                        - i++

                h2 Which Pokemon do you want to trade ?
                - var j = 0
                    while myCollection.length > j
                        .pokemon
                            img(src= "http://www.pokestadium.com/sprites/xy/" + myCollection[j].toLowerCase() + ".gif")
                            h5= myCollection[j]
                            button.trade(onclick="changeColor(this)" id=myCollection[j].toLowerCase()) Choose
                        - j++
                a(href="/trade") Trade
            .col-md-3