extends layout

block content
    script.
        function acceptTrade(element){
            var trade = JSON.parse("#{trades}".replace(/&quot;/g,'"'));

            var user = trade[element][0];
            var tradeList = trade[element][1];
            var chooseList = trade[element][2];
            document.location.href="/accept/"+user+"/"+tradeList+"/"+chooseList;
        }
    .container
        .row
            .col-md-3
            .col-md-6.text-center(style="margin-top:100px")
                h4 Hello #{username}
            .col-md-3
    hr
    .container
        .row
            .col-md-3
            .col-md-6.text-center
                h3 My Collection
                hr
                .collection
                    - var i = 0
                    while pokemons.length > i
                        .pokemon
                            img(src= pokemonsGif[i])
                            h5= pokemons[i]
                        - i++
            .col-md-3
    hr
    if cookieUser == username
        .container
            .row
                .col-md-3
                .col-md-6.text-center
                    h2 Trade
                    hr
                    .tradeColl
                        -var trade = JSON.parse(trades)
                        - var i =0
                        each value, index in trade
                            .trades
                                each val, ind in value
                                    if ind == 1
                                        each ask in value[ind]
                                            .ask
                                                img(src= "http://www.pokestadium.com/sprites/xy/" + ask + ".gif")

                                img(src= "/images/trade-logo.png" style="display: inline-block;")
                                each val, ind in value
                                    if ind == 2
                                        each choose in value[ind]
                                            .choose
                                                img(src= "http://www.pokestadium.com/sprites/xy/" + choose + ".gif")
                            .accept
                                h6= "From " + value[0]
                                button(onclick="acceptTrade(this.id)" id=i) Accept
                                - i++
                .col-md-3